@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    color: ghostwhite;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

/* Top menu  */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    background: #1a1717;
    padding: 1rem;
    z-index: 999;
    font-family: 'Teko', sans-serif;
}

header > div {
    width: 15%;
    font-family: 'Orbitron', sans-serif;
}

nav > a {
    transition: 1s;
}

nav > a:hover {
    color: mediumpurple;
    rotate: 10deg;
}

* a {
    color: white;
    text-decoration: none;
    margin-inline: 2rem;
    font-size: 2rem;
}

/* Main container + sub container */
.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 5%;
}

.sub_container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#introPage {
    width: 60%;
    min-height: 35rem;
    background: rgba(248, 248, 255, 0.87);
    border-radius: 8px;
    background: #1a1717;
    padding: 3rem;
}

/* Swiper */
.swiper {
    width: 70%;
    height: 550px;
    margin-top: 2%;
}

.swiper-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper_img {
    width: 100%;
    height: auto;

}


/* Home menu */
#menu-container {
    width: 100%;
    position: absolute;
    top: -10rem;
    display: block;
    z-index: -1;
}

.menu {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}


.home-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 20rem;
    height: 80rem;
    background: rebeccapurple;
    transform-origin: center center;
    rotate: 12deg;
    margin: 2rem;
    transition: 1s;
}

i {
    transition: 0.75s;
}


.home-menu:hover {
    background: rgba(34, 34, 34, 0.61);
    width: 230px;
}

.home-menu:hover i {
    rotate: 360deg;
}


.fa-discord, .fa-envelope, .fa-newspaper, .fa-comments, .fa-gamepad {
    font-size: 6rem;
    color: white;
}

i {
    word-break-wrap: 1;
}

/* Footer for home page only */
#home-footer {
    background: #1a1717;
    position: absolute;
    bottom: -14rem;
    width: 100%;
    height: 20rem
}

/* News page container */

#add-news-container, #add-article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.tox-tinymce {
    width: 110rem;
}

.news-container {
    width: 70%;
    background: #1a1717;
    min-height: 40rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;
    transition: 1s;
}

.news-container:hover {
    box-shadow: 5px 5px 50px -14px rgba(91, 8, 109, 0.9);
}

.news-button {
    padding: 1rem;
    width: 30%;
    border-radius: 4px;
    background: #1a1717;
    color: rebeccapurple;
    transition: 1s;
    border: none;
    margin-top: 1rem;
    float: right;
}

.news-button:hover {
    box-shadow: 5px 5px 50px -14px rgba(91, 8, 109, 1);
    color: purple;
}


/* Contact/login/register form */

#container-contact-form, #container-login-form, #container-register-form {
    width: 50%;
    min-height: 40rem;
    padding: 2rem;
    background: #1a1717;
}

#container-login-form {
    min-height: 20rem;
}

#container-contact-form > div {
    width: 100%;
    display: block;
}

#container-contact-form > div > label, input, textarea {
    display: block;
    border-radius: 4px;
    background: #222222;
    color: white;
    border: none;
    margin-block: 1rem;
    transition: 1s;
    padding: 1rem;
}

input:focus, textarea:focus {
    outline: solid 2px rgba(91, 8, 109, 1);

}

/* container for success/error message */
.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 7rem;
    width: 100%;
    color: honeydew;
    font-size: 2rem;
}

.error {
    background: indianred;
}

.success {
    background: mediumseagreen;
}

